<div id="Index" class="row">
	<div class="container">
		<div class="page-header">
			<h1>Index</h1>
		</div>
	
		<p>
			<ul>
				<li>
					<a href="#Welcome"><h3>Welcome</h3></a>
				</li>
				<li>
					<a href="#News"><h3>News</h3></a>
				</li>
				<li>
					<a href="#Tutorial"><h3>Tutorial</h3></a>
				</li>
			</ul> 
		</p>
	</div>
</div>
<div id="Welcome" class="row">
	<div class="container">
		<div class="page-header">
			<h1>Welcome</h1>
		</div>
		<p>
			Welcome to Backlog an app to help you Organize your gaming backlog, and also includes the functionality to add quests you can define that you want to complete when beating a game
		</p>
	</div>
</div>
<div id="News" class="row">
	<div class="container">
		<div class="page-header">
			<h1>News</h1>
		</div>
		
		<div>
			<h4>08/11/2014</h4>
		</div>
		<p>
			<ul>
				<li>
					Completing the basic functionality of the site.
				</li>
			</ul> 
		</p>
	</div>
</div>